VeryBigShoesCompany/Server/wwwroot/Resources/OrderImport.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BigShoeDataImport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Order" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="CustomerName" use="required"/>
								<xs:attribute type="xs:string" name="CustomerEmail" use="required"/>
								<xs:attribute type="xs:short" name="Quantity" use="required"/>
								<xs:attribute type="xs:string" name="Notes" use="optional"/>
								<xs:attribute type="xs:float" name="Size" use="required"/>
								<xs:attribute type="xs:date" name="DateRequired" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>